<!--The content below is only a placeholder and can be replaced.-->
<!-- <table>
  <tr>
    <td colspan="2">
      <app-header></app-header>
    </td>
  </tr>
  <tr>
    <td>
      <app-nav></app-nav>
    </td>
    <td>
      <app-content></app-content>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <app-footer></app-footer>
    </td>
  </tr>
</table>
<p>Co my tu robimy? {{title | uppercase }}<br>
Liczba pi to {{pi | number:'1.1-2'}}<br>
Dzisiejsza data to: {{date | date: 'dd-MM-yy'}}<br>
Mój pies to {{dog.name}} i ma {{dog.age}} lat obiekt<br>
{{showDog()}} -> funkcja zwracająca string
</p> -->
<!-- <h3>Witamy w projekcie {{title | uppercase}}</h3>
<p>Dni tygodnia</p>
<ul>
  <ng-container *ngFor="let day of days; let e = even">
    <li *ngIf="e">
      {{day}}
    </li>
  </ng-container>
</ul>

<div *ngIf="dogs.length > 0; then areDogs; else noDogs"></div>
<ng-template #areDogs>
  <div *ngFor="let dog of dogs; let i = index">
    <p>
      {{i+1}} Mój pies ma na imię {{dog.name}} i {{dog.age}} lat
    </p>
  </div>
</ng-template>

<ng-template #noDogs>
  <p>
    Piesków brak :(
  </p>
</ng-template>

<div *ngFor="let day of days">
  <div [ngSwitch]="day">
    <div *ngSwitchCase="'Poniedziałek'">
      Monday
    </div>
    <div *ngSwitchCase="'Wtorek'">
      Tuesday
    </div>
    <div *ngSwitchCase="'Środa'">
      Wednesday
    </div>
    <div *ngSwitchCase="'Czwartek'">
      Thursady
    </div>
    <div *ngSwitchCase="'Piątek'">
      Friday
    </div>
    <div *ngSwitchCase="'Sobota'">
      Saturday
    </div>
    <div *ngSwitchDefault>
      Sunday
    </div>
  </div>
</div> -->

<!-- <h3 [className]="colorClass">Property binding</h3>
<img [src]="logoUrl">
<input [maxLength]="maxLength" [value]="inputText">

<button [disabled]="isDisable">Dodaj</button> -->

<!-- <h3 [className]="colorClass">Property binding</h3>
<input [disabled]="isDisable" (focus)="onFocus()">
<br>
<input [disabled]="isDisable" (click)="onClick($event)">
<br>
<input [disabled]="isDisable" (mousemove)="onMouseMove($event)">
<br>
<input [disabled]="isDisable" (paste)="onPaste()">{{inputText}}
<br>
<button (click)="change()">Zmiana</button>

<p>Ten pracownik to {{profession}} a jego umiejętność to {{skill}}</p>

<label>Zawód</label>
<input [value]="profession" (input)="saveP($event)" two-way binding na piechote
<input [(ngModel)]="profession"> prawdziwe two-way binding
<br>
<label>Umiejętność</label>
<input [(ngModel)]="skill"> -->

<div>
  <div class="container">
    <app-add-task></app-add-task>
  </div>
  <div class="container">
    <div>
      <app-todo-task></app-todo-task>
    </div>
    <div>
      <app-done-task></app-done-task>
    </div>
  </div>
</div>

<div>
  <app-reactive-form></app-reactive-form>
</div>
